
colorized/data/image-colorization/ab/ab/ab1.npy
colorized/data/image-colorization/ab/ab/ab2.npy
colorized/data/image-colorization/ab/ab/ab3.npy
colorized/data/image-colorization/inception_resnet_v2_weights_tf_dim_ordering_tf_kernels.h5
colorized/data/image-colorization/l/gray_scale.npy
